//================================================================
// Mixins
//================================================================

@mixin centeredWrapper {
  margin: 0 auto;
  max-width: 650px;
}

//================================================================
// Base Elements
//================================================================

body {
  font-family:
    "Source_Sans_Pro",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}

blockquote {
  background-color: #efefef;
  color: #636363;
  padding: 15px;
}

img {
  display: block;
  width: 100%;
}

ol {
  margin-bottom: 15px;
}

//================================================================
// Banner
//================================================================

.banner {
  padding: 0;
  border-top: 10px solid #{$C_OFFBLACK_2};
  background-color: #{$C_GREY_TINT_8};
}

.globalLogo-container {
    margin-left: 0;
}

//================================================================
// Page
//================================================================

.page-content {
    @include centeredWrapper();
    padding: 0 20px;
}

@media screen and #{$BP_MAJOR_LG_ARGUMENTS} {
    .page-content { padding: 0; }
}

//================================================================
// Masthead
//================================================================

.masthead {
  @include centeredWrapper();
  position: relative;
  font-size: 0;
}

.masthead > * {
  display: inline-block;
  vertical-align: middle;
}

.masthead > * + * { margin-left: 10px; }

.masthead-tag {
  padding: 8px 6px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 3px;
  background-color: #00b08a;
  font-size: 12px;
  color: #ffffff;
}

//================================================================
// Layer
//================================================================

.layer {
}

.layer_hasWatermark {
    background: #{$C_BRAND} url("../assets/images/bg-chevron-watermark.svg") 0 0 repeat;
}

.layer-container {
    max-width: 1300px;
    margin: 0 auto;
    box-sizing: border-box;
}

//================================================================
// Hero
//================================================================

.hero {
    padding: 3rem 0;
}

.hero-logo {
  width: 56px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.hero-title {
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
}

//================================================================
// Footer
//================================================================

.footer {
    margin-top: 4rem;
    background-color: #{$C_OFFBLACK_1};
    padding: 1rem 0;
    color: #{$C_GREY_TINT_1};
}

.footerLegal {
    text-align: center;
    font-size: 0.8rem;
}
