.markdown {
  & {
    font-size: 16px;
    line-height: 1.5;
    color: #545454;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 40px 0 10px;
    color: #007b89;
    opacity: 0.6;
  }

  h1, h4, h5, h6, strong { font-weight: bold; }

  h1 {
    padding-bottom: 5px;
    border-bottom: 1px solid #ebeced;
    font-size: 28px;
    opacity: 1;
  }

  h2 { font-size: 20px; }
  h3 { font-size: 16px; }
  h4 { font-size: 14px; }
  h5 { font-size: 12px; }
  h6 { font-size: 10px; }

  p { margin-bottom: 20px; }

  strong, em { color: #454545; }

  em { font-style: italic; }

  a { color: #67bfa6; }
  a:visited { color: #a38b9a; }
  a:hover { color: #007b89; }

  ul,
  ol {
    margin-left: 20px;
    margin-bottom: 1rem;
  }

  ol ol,
  ul ol {
    padding-left: 40px;
    list-style-type: lower-roman;
  }

  #markdown-toc ol {
    margin-bottom: 0;
  }

  ul ul ol,
  ul ol ol,
  ol ul ol,
  ol ol ol { list-style-type: lower-alpha; }

  code {
      font-size: 0.9rem;
      font-family: monospace;
      background-color: #ededed;
      padding: 2px;
  }

  pre {
      margin-bottom: 1rem;
  }
}
